.Grid {
  width: 200px;
  height: 400px;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}

.Grid div{
    height:20px;
    width:20px;
}

.tetromino {
    background-color: blue;
}

.Mini-grid{
    margin-left:50px;
    width:80px;
    height:80px;
    background-color:yellow;
    display:flex;
    flex-wrap: wrap;
}


.Mini-grid div{
    height:20px;
    width:20px;
}

.container{
    display:flex;
}
